.grid {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

* {
    border: 1px solid black !important;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

@media only screen and (max-width: 500px) {
  .content {
    display:none
  }
}

.top {
    position:absolute;
    left:0; right:0;
    height: 200px;
    background: black;
}
.sidebar {
    position: relative;
    left:20px; top:220px; bottom: 0;
    width:  16.66%;
}

.content {
    position: absolute;
    left:20%; top:220px; right:100px; bottom:0;
    width: 75%;
}

.main-body {
    display: flex;
}

body { 
  background:#777;
  font-family: garamond;
  }

h1 {
  font-family: "Lucida Console", "Lucida Sans Typewriter", monaco, "Bitstream Vera Sans Mono", monospace;
  font-size: 45px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 50px;
  color: #00FF00;
  padding: 20px 20px 20px 20px;
}

  h2, p,{
    color: #333;
  }

li {
  
    background:  #333;
    color: #999;
  
  
}

.current-entry {
  padding: 10px;
  font-family: "Lucida Console", "Lucida Sans Typewriter", monaco, "Bitstream Vera Sans Mono", monospace;
  font-size: 30px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.4px;
  color: #00FF00;

 }

.blog-entry {
  padding: 10px;
 font-family: "Lucida Console", "Lucida Sans Typewriter", monaco, "Bitstream Vera Sans Mono", monospace;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.4px;
  color: #00FF00;

  
}

  p {
    background:  #333;
    color: #999;
    padding: 5px 5px 5px 5px;
  }



.grid{
  margin: 0 auto;
  max-width: 1200px;
  width:  100;
}

.row {
  width: 100%;
  margin-bottom: 20px;
  display:  flex;
}

.col-1 {
  width: 8.33%
}

.col-2 {
  width:  16.66%;
}

.col-3 {
  width: 25%
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%
}

