 html {
  margin: 0;
  padding: 0;
  }

 body {
      background-image: url(../images/wood.jpg);
      }

.header{
 background-image: url(../images/paper-texture.jpg);
 display: flex; flex-wrap: wrap; overflow: auto;

}

.heading-button {
color: #8B4513;
padding: 20px 20px 20px 20px;
font: normal 1.4em georgia, sans-serif;

}

  h1 {

  color: #FFF8DC;
  padding: 20px px 20px 20px;
  font-weight: 500;
}

.sidebar {
    position: relative;
    padding:left: 0%; top:20%; bottom: 10%;
    width:  16.66%;
    background-image: 
}

.current-entry {
  padding: 10px;
  font: italic normal 1.4em georgia, sans-serif;
  font-size: 30px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.4px;
  color: #DEB887;

 }

.blog-entry {
  padding: 10px;
  font: italic normal 1.4em georgia, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.4px;
  color: #FFF8DC;
}

.content {
    position: absolute;
    left:20%; top:220px; right:100px; bottom:0;
    width: 75%;
}
